contourpy==1.3.3
cycler==0.12.1
fonttools==4.59.2
future==1.0.0
genicam==1.5.0
harvesters==1.4.3
iso8601==2.1.0
joblib==1.5.2
kiwisolver==1.4.9
matplotlib==3.10.6
numpy==2.3.3
packaging==25.0
pandas==2.3.2
pathlib==1.0.1
pillow==11.3.0
pyparsing==3.2.4
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.16.2
serial==0.0.97
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
